name: CI
on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-unknown-none

      - name: Formatting
        run: cargo fmt --all -- --check

      - name: Build
        run: cargo build --workspace --verbose

      - name: Clippy
        run: cargo clippy --workspace -- -D warnings